*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media all and (min-width: 1025px) and (max-width: 1600px) {
    html {
      font-size: 52.5%; } }
  @media all and (min-width: 481px) and (max-width: 1024px) {
    html {
      font-size: 42.5%; } }
  @media all and (min-width: 374px) and (max-width: 480px) {
    html {
      font-size: 32.5%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: black; }
  @media all and (min-width: 481px) and (max-width: 1024px) {
    body {
      padding: 3rem; } }
  @media all and (min-width: 374px) and (max-width: 480px) {
    body {
      padding: 1vw; } }

.H {
  font-family: 'EB Garamond', serif; }
  .H--main {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    color: #FFF;
    font-size: 8.5rem;
    line-height: 8.5rem;
    letter-spacing: .5rem; }
  .H--sub {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    color: #cdcdcd;
    font-size: 4.5rem; }
  @media all and (min-width: 374px) and (max-width: 480px) {
    .H--main {
      font-size: 6.5rem;
      margin-top: 0;
      letter-spacing: .1rem;
      line-height: 5rem; }
    .H--sub {
      font-weight: 400;
      font-size: 3.5rem; } }

.S {
  color: #FFF;
  font-size: 3rem; }
  .S--icon {
    color: #15bdff;
    font-size: 3rem; }
    @media all and (min-width: 374px) and (max-width: 480px) {
      .S--icon {
        font-size: 5rem; } }
  @media all and (min-width: 374px) and (max-width: 480px) {
    .S {
      font-size: 3.5rem; } }

.container {
  font-family: 'Indie Flower', cursive; }
  .container_main {
    font-size: 10rem;
    color: #f1f1f1;
    display: inline;
    letter-spacing: .1rem; }
  .container_sub {
    font-size: 4.5rem;
    letter-spacing: .5rem;
    color: #f1f1f1; }

.inner {
  color: #FFF; }
  .inner_header {
    font-size: 4.5rem; }
  .inner_content {
    font-size: 2rem; }
  .inner_button:hover {
    color: orange; }

.label {
  color: #15bdff; }

.footer_body {
  color: #FFF;
  font-size: 2.5rem; }
  .footer_body h4 {
    color: #FFF;
    font-size: 2.5rem; }
  .footer_body p {
    color: #cdcdcd;
    font-size: 2rem; }

.card {
  position: relative;
  height: 40rem;
  width: 65rem;
  margin-top: 8vh;
  margin-bottom: 2vh;
  overflow: hidden;
  background-size: cover; }
  .card:hover .inner {
    transform: translateY(-40rem); }
    @media all and (min-width: 481px) and (max-width: 1024px) {
      .card:hover .inner {
        transform: translateY(0rem); } }
    @media all and (min-width: 374px) and (max-width: 480px) {
      .card:hover .inner {
        transform: translateY(0rem); } }
  .card .icon {
    display: inline;
    margin-right: 2rem; }
  .card .inner {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    top: 40rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transition: all .5s; }
    @media all and (min-width: 481px) and (max-width: 1024px) {
      .card .inner {
        top: 0rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)); } }
    @media all and (min-width: 374px) and (max-width: 480px) {
      .card .inner {
        top: 0rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)); } }
    .card .inner_header {
      margin-bottom: 5rem; }
    .card .inner_content {
      display: grid;
      grid-template-rows: 8rem 8rem;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5rem;
      align-items: center; }
    .card .inner_button {
      display: inline-block;
      width: 25rem;
      margin: 2rem;
      padding: .5rem;
      background-color: rgba(0, 0, 0, 0);
      cursor: pointer; }
  .card--pg {
    background-image: url("/images/paragliding-dark.jpg"); }
  .card--diving {
    background-image: url("/images/scuba-wreck.jpg"); }
  .card--skiing {
    background-image: url("/images/skijump.jpg"); }
  .card--rainforest {
    background-image: url("/images/rainforest-hiking.jpg"); }
  .card--snowboarding {
    background-image: url("/images/lukas-neasi-65748-unsplash.jpg"); }
  .card--climbing {
    background-image: url("/images/tommy-lisbin-316758-unsplash.jpg"); }

.main {
  position: relative; }
  @media all and (min-width: 374px) and (max-width: 480px) {
    .main {
      width: 98vw; } }

.header {
  display: block;
  position: relative;
  height: 80vh;
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("/images/mountain-biking.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 70vh); }
  @media all and (min-width: 481px) and (max-width: 1024px) {
    .header {
      height: 50vh;
      clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 45vh);
      margin-bottom: 5rem; } }
  @media all and (min-width: 374px) and (max-width: 480px) {
    .header {
      height: 55vh;
      clip-path: none;
      margin-bottom: 5rem; } }

.header_container {
  width: 50%;
  padding-top: 17vh;
  padding-left: 10rem; }
  @media all and (min-width: 481px) and (max-width: 1024px) {
    .header_container {
      padding-top: 15vh;
      width: 80%;
      height: 30vh; } }
  @media all and (min-width: 374px) and (max-width: 480px) {
    .header_container {
      width: 60%;
      height: 30vh; } }

.sports {
  width: 100%;
  margin-top: -10vh;
  margin-bottom: 10vh;
  z-index: -1;
  padding-top: 10rem; }
  @media all and (min-width: 374px) and (max-width: 480px) {
    .sports {
      margin-bottom: 3vh; } }
  .sports_header {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: -5rem; }
    @media all and (min-width: 374px) and (max-width: 480px) {
      .sports_header {
        margin-bottom: 2rem; } }
  .sports_row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }

.content_row {
  height: 10rem; }

.innerUp {
  position: absolute;
  left: 50%;
  font-size: 4rem;
  color: #15bdff;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

@keyframes example {
  0% {
    font-size: 4rem;
    top: -6rem; }
  50% {
    font-size: 4.25rem;
    top: -6.5rem; }
  100% {
    font-size: 4rem;
    top: -6rem; } }

.guides {
  position: relative; }

.guides_header {
  text-align: center;
  margin-top: 3rem; }

.guides_body {
  display: flex;
  height: 80vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/kayaking.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 70vh); }
  @media all and (min-width: 481px) and (max-width: 1024px) {
    .guides_body {
      clip-path: none;
      margin-top: 3rem;
      flex-direction: column;
      padding: 3rem 0rem; } }
  @media all and (min-width: 374px) and (max-width: 480px) {
    .guides_body {
      clip-path: none;
      margin-top: 3rem;
      flex-direction: column;
      padding: 3rem 0rem; } }

.guide_card {
  display: flex;
  position: relative;
  height: 40rem;
  width: 75rem;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 2rem; }
  @media all and (min-width: 1025px) and (max-width: 1600px) {
    .guide_card {
      width: 45rem;
      height: 25rem; } }
  @media all and (min-width: 481px) and (max-width: 1024px) {
    .guide_card {
      height: 40rem;
      width: 95%; } }
  @media all and (min-width: 374px) and (max-width: 480px) {
    .guide_card {
      height: 40rem;
      width: 95%; } }
  .guide_card-image {
    height: 100%;
    width: 30rem;
    background-size: cover;
    overflow: hidden; }
  .guide_card-bio {
    display: grid;
    padding: 2rem;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 13rem 1fr;
    align-items: center; }
  .guide_card--buckley {
    transform: translateY(-10rem); }
    @media all and (min-width: 481px) and (max-width: 1024px) {
      .guide_card--buckley {
        transform: translateY(0rem); } }
    @media all and (min-width: 374px) and (max-width: 480px) {
      .guide_card--buckley {
        transform: translateY(0rem); } }
  .guide_card--sally {
    transform: translateY(10rem); }
    @media all and (min-width: 481px) and (max-width: 1024px) {
      .guide_card--sally {
        transform: translateY(0rem); } }
    @media all and (min-width: 374px) and (max-width: 480px) {
      .guide_card--sally {
        transform: translateY(0rem); } }
  .guide_card #buckley {
    background-image: url("/images/buckley.jpg");
    transform: scaleX(-1); }
  .guide_card #cf {
    background-image: url("/images/cflong.jpg"); }
  .guide_card #sally {
    background-image: url("/images/sallydeep.jpg"); }
    @media all and (min-width: 481px) and (max-width: 1024px) {
      .guide_card #sally {
        background-position-y: 40%; } }
    @media all and (min-width: 374px) and (max-width: 480px) {
      .guide_card #sally {
        background-position-y: 50%; } }

.label {
  margin-right: 2rem; }

.footer {
  margin-top: 3rem;
  width: 100%; }
  .footer_header {
    text-align: center;
    margin-top: 3rem;
    border-bottom: 0.25rem solid #15bdff;
    padding-bottom: 2rem; }
  .footer_body {
    padding: 5rem;
    display: flex;
    justify-content: space-around; }
    @media all and (min-width: 374px) and (max-width: 480px) {
      .footer_body {
        flex-direction: column;
        justify-content: space-around;
        align-items: center; } }
  .footer_item p {
    padding-left: 1.5rem; }
  @media all and (min-width: 374px) and (max-width: 480px) {
    .footer_item {
      display: block;
      margin: 2rem;
      width: 50vw; } }
