*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;


    @include respond(desktop){
        font-size: 62.5%;
    }
    
    @include respond(tab){
        font-size: 47%;
     }
    
    @include respond(lg-phone){
        font-size: 32.5%;
    }
    
    @include respond(sm-phone){
        font-size: 32.5%;
    }

}

body{
    box-sizing: border-box;
    padding: 3rem;
    background-color: black;


    @include respond(desktop){
        padding: 3rem;
    }
    
    @include respond(tab){
        padding: 1rem;
     }
    
    @include respond(lg-phone){
        padding: .5em;
    }
    
    @include respond(sm-phone){
        padding: .5em;
    }
}