$color-primary: rgb(47, 165, 0);
$color-primary-dark: rgb(47, 165, 0);

$color-secondary-light: rgb(21, 189, 255);
$color-secondary: rgb(0, 132, 185);
$color-secondary-dark: rgb(1, 37, 17);

$color-white: #FFF;

$color-grey-o: rgb(241, 241, 241);
$color-grey-1: rgb(205, 205, 205);
