
.H{
    font-family: 'EB Garamond', serif;
    &--main{
        font-family: 'EB Garamond', serif;
        font-weight: 500;
        color: $color-white;
        font-size: 8.5rem;
        line-height: 8.5rem;
        letter-spacing: .5rem;

    }

    &--sub{
        font-family: 'EB Garamond', serif;
        font-weight: 400;
        color: $color-grey-1;
        font-size: 4.5rem;

    }

    @include respond(sm-phone){
        &--main{
            font-size: 6.5rem;
            margin-top: 0;
            letter-spacing: .5rem;

            @include respond(sm-phone){
                line-height: 5rem;
            }
    
        }
    
        &--sub{
            font-weight: 400;
            font-size: 3.5rem;
    
        }
    }
}

.S{
    color: $color-white;
    font-size: 3rem;

    &--icon{
        color: $color-secondary-light;
        font-size: 3rem;

        @include respond(sm-phone){
            font-size: 5rem;
        }
    }

    @include respond(sm-phone){
        font-size: 3.5rem;
    }
}




.container{
    font-family: 'Indie Flower', cursive;
    &_main{
        font-size: 10rem;
        color: $color-grey-o;
        display: inline;
        letter-spacing: .1rem;

    }

    &_sub{
        font-size: 4.5rem;
        letter-spacing: .5rem;
        color: $color-grey-o;

    }
}




.inner{
    color: $color-white;

    &_header{
        font-size: 4.5rem;
    }

    &_content{
        font-size: 2rem;


    }

    &_button{
        &:hover{
            color: orange;
        }
    }
}

.label{
    color: $color-secondary-light;
}


.footer{


    &_body{
        color: $color-white;
        font-size: 2.5rem;

        & h4{
            color: $color-white;
            font-size: 2.5rem;
        }

        & p{
            color: $color-grey-1;
            font-size: 2rem;
        }
    }
}
