.footer{

    margin-top: 3rem;
    width: 100%;

    &_header{
        text-align: center;
        margin-top: 3rem;
        border-bottom: .25rem solid $color-secondary-light;
    }

    &_body{
        padding: 5rem;
        display: flex;
        justify-content: space-around;

        & p{
            padding-left: 1.5rem;
        }
    }
}