.guides{
    position: relative;    
}

.guides_header{
    text-align: center;
    margin-top: 3rem;


}

.guides_body{
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-image: -webkit-linear-gradient(0deg, rgba(black,.7), rgba(black,.7)) , url('/images/kayaking.jpg')   ;
    background-size: cover;
    clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 70vh);

    @include respond(tab){
        clip-path: none;
        margin-top: 3rem;
        flex-direction: column;
        padding: 3rem 0rem;
    }

    @include respond(sm-phone){
        clip-path: none;
        margin-top: 3rem;
        flex-direction: column;
        padding: 3rem 0rem;
    }

}

.guide_card{
    display: flex;
    position: relative;
    height: 40rem;
    width: 75rem;   
    background-color: rgba(0,0,0,.4);
    margin: 2rem;

    @include respond(desktop){
        width: 45rem;
        height: 25rem;
    }

    @include respond(tab){
        height: 40rem;
        width: 95%; 
    }

    @include respond(sm-phone){
        height: 40rem;
        width: 95%; 
    }

    &-image{
        height: 100%;
        width: 30rem;
        background-size: cover;
        overflow: hidden;

    }

    &-bio{
        display: grid;
        padding: 2rem;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 13rem 1fr;
        align-items: center;

    }

    &--buckley{
        transform: translateY(-10rem);

        @include respond(tab){
            transform: translateY(0rem);
        }

        @include respond(sm-phone){
            transform: translateY(0rem);
        }
    }

    &--sally{
        transform: translateY(10rem);

        @include respond(tab){
            transform: translateY(0rem);
        }

        @include respond(sm-phone){
            transform: translateY(0rem);
        }
    }

    #buckley{
        background-image: url('/images/buckley.jpg');
        transform: scaleX(-1);
    }

    #cf{
        background-image: url('/images/cflong.jpg');
    }

    #sally{
        background-image: url('/images/sallydeep.jpg');

        @include respond(tab){
            background-position-y: 40%;
        }

        @include respond(sm-phone){
            background-position-y: 50%;
        }
    }
}

.label{
    margin-right: 2rem;
}