.guides{
    position: relative;    
}

.guides_header{
    text-align: center;
    margin-top: 3rem;
}

.guides_body{
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-image: -webkit-linear-gradient(0deg, rgba(black,.7), rgba(black,.7)) , url('/images/kayaking.jpg')   ;
    background-size: cover;
    clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 70vh);




    @include respond(desktop){
       flex-direction: row;
       height: 80vh;
       clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 70vh);
    }

    @include respond(tab){
        flex-direction: column;
        justify-content: center;
        height: 80vh;
        margin-top: 10vh;
        clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 70vh);
    }

    @include respond(lg-phone){
        font-size: 8rem;
        line-height: 7rem;
        margin-top: 5vh;
        clip-path: none;
        height: 100vh;
    }

    @include respond(sm-phone){
        font-size: 8rem;
        line-height: 7rem;
        margin-top: 5vh;
        clip-path: none;
        height: 100vh;
    }



}

.guide_card{
    display: flex;
    position: relative;
    height: 40rem;
    width: 75rem;   
    background-color: rgba(0,0,0,.4);
    margin: 2rem;

    @include respond(desktop){
        height: 40rem;
        width: 75rem;
        margin: 2rem;   
     }
 
     @include respond(tab){
        height: 30rem;
        width: 90%;   
        margin: .25rem;
     }

     @include respond(lg-phone){
        height: 30rem;
        width: 90%;   
        margin: 2rem;
     }

     @include respond(sm-phone){
        height: 30rem;
        width: 90%;   
        margin: 2rem;
     }

    &-image{
        height: 40rem;
        width: 30rem;
        background-size: cover;
        overflow: hidden;

        @include respond(desktop){
            height: 40rem;
        }
    
        @include respond(tab){
            height: 30rem;
        }

        @include respond(lg-phone){
            height: 30rem;   
         }

         @include respond(sm-phone){
            height: 30rem;   
         }
    }

    &-bio{
        display: grid;
        padding: 2rem;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 13rem 1fr;
        align-items: center;

    }

    &--buckley{
        transform: translateY(-10rem)
    }

    &--sally{
        transform: translateY(10rem)
    }

    #buckley{
        background-image: url('/images/buckley.jpg');
        transform: scaleX(-1);
    }

    #cf{
        background-image: url('/images/cflong.jpg');
    }

    #sally{
        background-image: url('/images/sallydeep.jpg');

        @include respond(tab){
            background-position-y: 50%;
         }

        @include respond(ls-phone){
            background-position-y: 50%;
         }

         @include respond(sm-phone){
            background-position-y: 50%;
         }
    }
}

.label{
    margin-right: 2rem;
}